@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Space+Mono:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    font-family: Roboto,'sans-serif';
    overflow-x: hidden;
}
.container{
    max-width: 1400px;
    margin:0 auto;
    background-color: black;
}
.row{
    display: flex;
    /* flex-wrap:wrap; */
    /* margin:0 -15px; */
}
span{
    color: black;
}
.row-alt{
    /* justify-content: space-around; */
    
}
.menu-main{
    display: flex;
    font-size: 12px;
    color: #969696;
    padding-left: 200px;
}
.menu-main-1{
    padding-left: 230px;
}
.menu-main-2{
    padding-left: 350px;
}
.text{
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'Montserrat', sans-serif;
}

.row__col-6_1{
    color: white;
    padding-top: 19px;
    padding-left: 30px;
    padding-right: 30px;
}
.row__col-6_1:hover{
    background: #1F1F1F;

}
.col-6{
    width: 50%;
}
.row-alt2{
    background: #0F0F0F;

}
.row-alt3{
    background-image: url(../img/photo.jpg);
    background-size: cover;
}
.flex__flex-box{
    display: flex;
    justify-content: center;
}
.tip{
    border: 3px solid white;
    margin-top: 120px;
    
    margin-bottom: 80px;
    /* margin-right: 600px; */
}
.flex__porten{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    margin-left: 40px;
    font-size: 40px;
    margin-right: 40px;
    text-decoration: underline;
    font-weight: 800;
}
.flex__piter{
    color: white;
    margin-left: 40px;
    font-size: 25px;
    margin-bottom: 80px;
}
.flex__text{
    width: 60%;
    margin: 0 auto;
    color: white;
    text-align: center;
    margin-bottom: 100px;
    font-size: 13px;
}
.col-7{
    width: 53%;
    margin-left: 50px;
}
.row-alt4{
    justify-content: space-between;
    margin-right: 40px;
}

.col-7 p{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 80px;
}

.flex-wrap__span{
    text-align: center;
    color: white;
    /* font-size: 20px; */
    margin: 30px 0;
    
}
.qwe{
    width: 30%;
}
.col-5{
    padding-top: 350px;
}
.chas{
    background-color: #191B1C;
    
}
.img{
    margin: 20px;
}
.test{
    margin-top: 20px;
    color: white;
    font-size: 20px;
}
.col-5{
    height: 600px;
    background-image: url(../img/Rectangle\ 8.png);
    background-color: white;
}
.sqr{
    width: 608px;
}

#button{
    background-color: rgba(233,234,234,0.0);
    margin: -25px 0 0 0;
}

/* ------------------------------------------ */
.row__ait-2{
    display: flex;
    
    
}
.col-6__image img{
    width:100%;
}

.col-6__image{
    width: 45%;

}
.col-6-text{
    width: 50%;
    color: white;
    padding-top: 70px ;
}
.col-6-text h1{
    
    font-size: 30px;
    text-align: center;
}

.col-6-text p{
    font-size: 13px;
    text-align: center;
    padding-top: 50px;
}
.line{
    padding-top: 40px;
    
}
.textt{
    width: 60%;
    
    font-size: 5px;
}
.button{
    width: 30%;
    height: 40px;
    font-size: 13px;
    padding: 10px;
   background-color: black;
   color: white;
   border: 1px solid white;
   margin-top: 50px;
  
}
/* ------------------------------- */
.col-12{
    width: 60%;
    margin: 0 auto;

}
.main__new{
    color: white;
    font-size: 40px;
    margin-top: 80px;

}
.main__line{
    margin: 30px 0 60px;
    
}

.main__main-box-1{
    justify-content: space-between;
}
.main__main-block{
    width: 23.44%;
}

.main__main-box-1{
    color: white;
}
.main__main-img{
    background: #191B1C;
    
}
.main__main-img img{
    width: 82.6%;
    margin: 30px 9%;
    
}
.main__main-block p{
    margin-top: 15px;
}
/* ------------------- */
.cont-alt{
    background: #0F0F0F;

}
.cont_2{
    width: 60%;
    margin-left: 20%;
    display: flex;
}
.col-3 img {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 40px;
}
.flex__brand{
    
    text-align: center;
}
.flex__brand_img{
    margin-top: 15px; 
    text-align: center;
    margin-bottom: 25px;
}

.row-alt5{
    background-image: url(../img/Rectangle\ 15.png);
}
.col-4 {
   color: white; 
   width: 30%;
   margin:80px 0;
}
.abs{
    background-color: black;
    color: white;
    font-size: 15px;
    height: 50px;
    padding: 0 10px;
}
.row-button{
    justify-content: space-between;

}
.row-alt6{
    justify-content: space-between;
}
.row input{
    background: #FFFFFF66;
    color: white;
}
.input::placeholder{
    color: white;
    padding-left: 10px;
}
.row button{
    background-color: #000;
    color: white;
    padding: 10px;
}
.uff{
    justify-content: space-between;
     color: white;
     font-size: 10px;
     padding: 12px 0;
}
.vse{
    background-color: #000;
    height: 35px;
}
